
// ============================ Подключение шрифтов ================================================== 
//&display=swap - добавить при подключении через плагин
//&subset=cyrillic-ext - добавить при подключении через плагин (необязательно)

@import url("https://fonts.googleapis.com/css?family=Raleway:500&display=swap&subset=cyrillic-ext");

// =================================================================================================== 


// ======================================== Переменные =============================================== 

// -------------- Шрифты ----------------
// Семейство шрифта по умолчанию из макета
// $fontFamily: "";

// Размер шрифта по умолчанию из макета
// $fontSize: 16px; 



// -------------- Цвета ----------------

$colorBlack: #2c2d35; 

$colorGrey: #86928B;

$colorGreen: #598D66;

$colorLightGreen: #E1EDE6;

$colorWhite: #F4F6F5;





// --- 
// Цвет шрифта 
$mainTextColor: $colorBlack; // по умолчанию (основной цвет текста)

$secondaryTextColor: $colorGrey; // второстепенный цвет текста

$additionalTextColor1: $colorGreen; // дополнительный цвет текста





// --- 
// Цвет фона
$mainBgColor: $colorWhite; // основной

$secondaryBgColor: $colorLightGreen; // дополнительный




// ------------ Размеры ---------------
// Минимальная ширина страницы
$minWidth: 320px; 

// Ширина ограничивающего контейнера из макета, включая отступы безопасности по 15px слева и справа
$containerWidth: 1140px; // подставить своё значение 

// Брейк-поинты 
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: $containerWidth; 

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 991.98px; 

// Телефоны L
$mobile: 767.98px; 

// Телефоны S
$mobileSmall: 479.98px; 

// =================================================================================================== 


// ===================== Подключение обнуляющих стилей, миксинов и общих стилей ============================= 

// Обнуляющие стили
@import "base/null";

// Миксины
// @import "base/mixins";

// Общие стили
@import "base/common";

// ===================================================================================================


// ==================== Подключение стилей отдельных страниц и блоков ================================
// /* ---------------------Основные стили-------------------------*/

// Стили header
@import "blocks/header";

// Стили главной страницы
@import "blocks/index";

// Стили footer
@import "blocks/footer";

// ===================================================================================================



// ======================= Подключение файла с медиазапросами =========================================

// Медиазапросы
// @import "_media";

// =================================================================================================== 


