
// ========================================Общие параметры============================================ 
/* -----------------------Общие стили--------------------------*/
/* --------------------Контейнер-------------------- */

[class*="__container"] {
	max-width: $containerWidth; 
	margin: 0px auto;
	padding: 0px 15px; // отступы безопасности 
}
/* ------------------------------------------------- */

/* ----------------------Body----------------------- */
body {
	// position: relative; задаём relative для body, чтобы абсолютная шапка не сужалась меньше 320px ( а то при сужении страницы шапка слишком сильно сужается)
	line-height: 1;
	font-weight: 500;
	font-family: 'Raleway';
	color: $mainTextColor;
	background-color: $mainBgColor;
	// Скролл заблокирован
	._lock & {
		overflow: hidden;
	}
}
/* ------------------------------------------------- */

/* --------------Оболочка wrapper------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	//padding: 20px;
	display: flex;
	flex-direction: column;
    // Прибиваем футер к низу, позволив блоку main увеличиваться
    > main {
        flex: 1 1 auto;
    }
}
/* ------------------------------------------------- */

/* --------------------ibg-------------------------- */
[class*="_ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		// object-position: top;
	}
}
/* ------------------------------------------------- */


/* -----------------------/Общие стили-------------------------*/
// =========================================/Общие параметры========================================== 